@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner box-shadow">
        <div class="carousel-item active">
            <img src="~/Images/Hp Laptop.jpg" height="550" class="d-block w-100" alt="image of a feature product">
            <img src="~/Images/Palm Wine.jpg" height="550" class="d-block w-100" alt="image of a feature product">
        </div>
    </div>
</div>
